{% extends "layout.html" %}

{% block body %}
    <a href="/logout">Logout</a>
    <a href="/products">products</a>
    <a href="/cart">cart</a>
    <h1>Products List </h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for product in products%}
                <tr>
                    <td>{{product[1]}}</td>
                    <td>{{product[2]}}</td>
                    <td>{{product[3]}}</td>
                    <td>
                        <form action='/add_to_cart' method="post">
                            <input type="hidden" name="id" value="{{ product[0] }}">
                            <input type="submit" value="add To cart">
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

{% endblock  %}%}